*.iml
/app/config.properties
.gradle
/app/src/main/java/com/example/rma_2_mirza_sabanovic/ConfigReader.java
/com/example/rma_2_mirza_sabanovic/ConfigReader.java
/local.properties
/app/src/main/java/com/example/rma_2_mirza_sabanovic/ChatBot.java
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
